* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #d6bb70; }

body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }

.navbar img {
  width: 70px;
  height: 70px; }

.collapse a:hover,
.collapse a:focus {
  color: white; }

.navbar-toggler, .nav-link, .btn {
  color: white; }

.navbar-toggler-icon, .d-flex button:hover,
.d-flex button:focus {
  background-color: white; }

.nav-link {
  text-transform: uppercase;
  font-weight: bold; }

.btn {
  background-color: #0d1929;
  border: 2px solid white; }

.d-flex button:hover,
.d-flex button:focus {
  color: #0d1929;
  border: 2px solid #0d1929; }

/*Fin Nav Bootstrap*/
.color__bus {
  background-color: #0d1929; }

header nav {
  background-color: #0d1929 !important; }

.main {
  margin-top: 240px;
  margin-bottom: 145px; }

/*bootstrap Seccion informal*/
.body__inf {
  background-color: #2b2a2a; }

.carousel-inner img {
  height: 800px; }

.card {
  background-color: black;
  border: 2px solid #c70c73;
  box-shadow: #c70c73;
  margin-bottom: 20px; }

.card img {
  height: 250px; }

.card-title, .titulo__ropa {
  color: #c70c73;
  text-transform: uppercase; }

.titulo__ropa {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  font-weight: bold; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

/*Fin bootrstrap informal*/
.section1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 100px; }

.section1__h1-1, .section1__h1-2 {
  color: #0d1929;
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
  margin-top: 200px;
  margin-bottom: 50px;
  font-weight: bold; }

.section1__h1-2 {
  margin-top: 20px;
  margin-bottom: 30px; }

.acordion__f {
  width: 400px; }

.section1__h1 {
  color: #0d1929;
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
  margin-right: 120px; }

.section1__vi {
  width: 700px;
  max-height: 600px; }

.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  padding-top: 20px;
  padding-bottom: 150px;
  list-style: none; }

.section2__li {
  background-color: white;
  border: 3px solid #0d1929;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 18px black;
  position: relative;
  height: auto;
  width: 335px; }

.section2__li--h3 {
  text-transform: uppercase;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.section2__li--p {
  color: black; }

.section2__li--img {
  border-radius: 10px;
  width: 250px;
  height: 200px; }

/*Parte informal index*/
.section2__li--2 {
  background-color: black;
  border: 3px solid #c70c73;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 18px black;
  position: relative;
  height: 450px; }

.section2__li--h3-2 {
  color: #c70c73;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.section2__li--p-2 {
  color: #383838; }

/*fin Parte Informal index*/
.section2__span {
  background-color: red;
  color: white;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 10px; }

.section2__span1 {
  background-color: white;
  color: blue;
  font-weight: bold; }

/*seccion contacto*/
.main {
  background-color: #d6bb70;
  color: white;
  max-width: auto; }

.contacto {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem; }

.titulo {
  color: #0d1929;
  text-align: center;
  font-size: 34px;
  margin-bottom: 40px; }

.formulario {
  box-shadow: 0 0 20px 0 #0d1929;
  display: grid;
  grid-template-columns: 2fr 1fr; }

.formulario > * {
  padding: 2em; }

.contacto__f {
  background-color: #25253b; }
  .contacto__f form {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .contacto__f .form2,
  .contacto__f .d-grid {
    grid-column: 1 / 3; }
  .contacto__f form p {
    margin: 0;
    padding: 1em;
    color: #d6bb70;
    text-transform: uppercase;
    font-weight: bold; }
  .contacto__f form button,
  .contacto__f form input,
  .contacto__f form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: #d6bb70;
    border-bottom: 2px solid #055c14; }
  .contacto__f form button {
    background-color: #055c14;
    border: 0;
    text-transform: uppercase;
    padding: 1em; }

.contacto__i {
  background-color: #0c0c36;
  text-align: left;
  list-style: none; }
  .contacto__i h3,
  .contacto__i ul,
  .contacto__i img {
    padding: 2rem;
    margin: 1rem;
    color: #d6bb70; }
  .contacto__i h3 {
    text-transform: uppercase;
    text-align: center; }
  .contacto__i ul {
    list-style: none;
    padding: 0; }
  .contacto__i ul li {
    padding: 0.5em;
    text-align: left; }
  .contacto__i img {
    margin-left: 20px;
    width: 300px;
    height: 250px; }

/*seccion nosotros*/
.nosotros1 {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.nosotros {
  text-align: center; }

.Nosotros__sec--h2 {
  color: #0d1929;
  font-size: 45px;
  text-transform: uppercase; }

.Nosotros__sec--h2b {
  color: #0d1929;
  font-size: 35px;
  text-transform: uppercase; }

.Nosotros__sec--p {
  font-weight: bold;
  font-size: large;
  padding: 10px; }

/*bootstrap acordeon Nosotros*/
.accordion {
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  --bs-accordion-active-bg: $colorPrincipal; }

.accordion-item div {
  background-color: #d6bb70;
  color: #0d1929; }

.accordion-item button {
  background-color: #0d1929;
  color: white; }

.foter {
  background-color: #0d1929;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0; }

.piepagina__titulo {
  font-size: medium;
  font-weight: bold; }

.piepagina {
  text-align: center; }

.piepagina__imagen {
  height: 50px;
  width: 50px; }

@media screen and (max-width: 1023px) {
  .section1 {
    display: block;
    text-align: center;
    padding: 0; }
  .section1__h1-1, .section1__h1-2 {
    color: #0d1929;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold; }
  .section1__h1-2 {
    color: #0d1929;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold; }
  .section1__h1 {
    text-align: center;
    margin: 0; }
  .acordion__f {
    margin: auto;
    max-width: 600px;
    width: auto;
    margin-bottom: 40px; }
  .section1__vi {
    width: 100%;
    max-height: 500px; }
  /* contacto */
  .titulo {
    font-size: 28px; }
  .contacto {
    max-width: 790px; }
  .contacto__f form {
    display: flex;
    flex-direction: column; }
  .contacto__i {
    width: 250px;
    padding-top: 70px;
    padding-left: 15px; }
  .contacto__i h3 {
    padding: 0;
    margin: 0;
    text-align: left; }
  .contacto__i img {
    margin-left: -30px; }
  /*nosotros*/
  .Nosotros__sec--h2 {
    font-size: 30px; }
  .Nosotros__sec--h2b {
    font-size: 25px; }
  .nosotros__map {
    width: 300px;
    margin: 5px; }
  .piepagina__titulo {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .piepagina__imagen {
    height: 40px;
    width: 40px; } }

@media screen and (max-width: 599px) {
  .main {
    margin-bottom: 250px; }
  /*bootstrap*/
  .col {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto; }
  .carousel-inner img {
    height: 400px; }
  .section1 {
    justify-content: center;
    padding: 0; }
  .section1__h1 {
    justify-content: center; }
  .section1__vi {
    width: 100%; }
  .section2 {
    justify-content: center;
    width: 90%; }
  .section2__li,
  .section2__li--2 {
    width: 300px; }
  .section2__li--img {
    width: 214px;
    height: 200px;
    border-radius: 10px; }
  /* Seccion contacto*/
  .titulo {
    font-size: 18px; }
  .contacto {
    padding: 0.5rem; }
  .formulario {
    grid-template-columns: none; }
  .formulario > * {
    padding: 1em; }
  .contacto__i,
  .contacto__f {
    min-width: 240px;
    padding-top: 0; }
  .contacto__i {
    width: auto;
    text-align: center; }
  .contacto__i h3,
  .contacto__i ul,
  .contacto__i img {
    padding: 1rem;
    margin: 0;
    text-align: center;
    width: 100%; }
  /*seccion Nosotros*/
  .nosotros1 {
    display: block; }
  .nosotros__img {
    width: 250px;
    height: 250px; }
  .Nosotros__sec--p {
    font-size: small; }
  .nosotros__map {
    width: auto;
    height: 250px;
    margin-left: 0px;
    margin-right: 0px; }
  /*bootstra*/
  .accordion {
    margin-left: 5px;
    margin-right: 5px; }
  .foter {
    display: grid;
    grid-template-columns: 145px 145px;
    max-width: auto; }
  .foter__inf {
    display: grid;
    grid-template-columns: 180px 180px;
    max-width: auto; }
  .piepagina {
    margin: 4px; }
  .piepagina__imagen {
    width: 30px;
    height: 30px; }
  .piepagina__titulo {
    font-size: small;
    font-style: unset; } }
