*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(214, 187, 112);
}

.header {
    background-color: rgb(13, 25, 41);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;


    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
        
}
.icono {
    width: 50px;
    height: 50px;
    background-color: rgb(13, 25, 41);
    color: white;
    font-size: 35px;
    border: rgb(13, 25, 41) solid;
    display: none;
}
.icono__1 {
    display: none;
}
.logo {
    width: 100px;
    height: 80px;
}
/*bootstrap Nav Informal*/

.navbar img {
    width: 70px;
    height: 70px;
}
.collapse a:hover,
.collapse a:focus {
    
    color: white;

}

.navbar-toggler {
    color: rgb(199, 12, 115);
}
.navbar-toggler-icon {
    background-color: rgb(199, 12, 115);

}
.nav-link,
.navbar__a {
    color: rgb(199, 12, 115);
    text-transform: uppercase;
    font-weight: bold;
    
}
.btn {
    background-color: rgb(199, 12, 115);
    color: white;
    border: 2px solid white;
}
.d-flex button:hover,
.d-flex button:focus {
    background-color: white;
    color: rgb(199, 12, 115);
    border: 2px solid rgb(199, 12, 115);
}
/*Fin Nav Bootstrap*/
.color__bus {
    background-color: rgb(12, 12, 54);
}
.nav__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: auto;
    

    
}
.nav__ul--item {
    margin-left: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;

}
/* tube que colocar una clase aparte porque en mi header no me agarraba la propiedad para darle el color blanco a las lestras del menu ni me sacaba la decoracion*/
li a {
    color: white;
    text-decoration: none;
}



.main {
    margin-top: 200px;
    margin-bottom: 145px;
}
/*bootstrap Seccion informal*/
.body__inf {
    background-color: rgb(43, 42, 42);
}
.carousel-inner img {
    height: 800px;

}
.card {
    background-color: black;
    border: 2px solid rgb(199, 12, 115);
    box-shadow: rgb(199, 12, 115);
    margin-bottom: 20px;
    
}

.card img {
    height: 250px;

}
.card-title {
    color: rgb(199, 12, 115);
    text-transform: uppercase;
}
.titulo__ropa {
    text-align: center;
    text-transform: uppercase;
    color: rgb(199, 12, 115);
    width: 100%;
    margin-top: 40px;
    font-weight: bold;
}
/*Fin bootrstrap informal*/

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    
    
}
.section1__h1 {
    color: rgb(13, 25, 41);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 30px;
    

}
.section1__vi {
    max-width: 700px;
    max-height: 700px;

}
.section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;


    
    padding-top: 20px;
    padding-bottom: 150px;
    list-style: none;
    
}
.section2__li {
    background-color: white;
    border: 3px solid rgb(13, 25, 41);
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 18px black;
    position: relative;
    height: 450px;
}
.section2__li--h3 {
    text-transform: uppercase;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.section2__li--p {
    color: black;
    
}
.section2__li--img {
    border-radius: 10px;
    width: 250px;
    height: 200px;
}
/*Parte informal index*/
.section2__li--2 {
    background-color: black;
    border: 3px solid rgb(199, 12, 115);
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 18px black;
    position: relative;
    height: 450px;
}
.section2__li--h3-2 {
    color: rgb(199, 12, 115);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.section2__li--p-2 {
    color: rgb(56, 56, 56);
}
/*fin Parte Informal*/
.section2__span {
    background-color: red;
    color: white;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 10px;
}
.section2__span1 {
    background-color:white;
    color: blue;
    font-weight: bold;
}
/*seccion contacto*/
.main {
    background-color: rgb(214, 187, 112);
    color: white;
    max-width: auto;
}
.contacto {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}
.titulo {
    color: rgb(12, 12, 54);
    text-align: center;
    font-size: 34px;
    margin-bottom: 40px;
}
.formulario {
    box-shadow: 0 0 20px 0 rgb(12, 12, 54);
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.formulario > * {
    padding: 2em;

}
.contacto__f {
    background-color: rgb(37, 37, 59);
}
.contacto__f form {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contacto__f form .form2 {
    grid-column: 1 / 3;
}
.contacto__f form p {
    margin: 0;
    padding: 1em;
    color: rgb(214, 187, 112);
    text-transform: uppercase;
    font-weight: bold;
}
.contacto__f form button,
.contacto__f form input,
.contacto__f form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: rgb(214, 187, 112);
    border-bottom: 2px solid rgb(5, 92, 20);
}
.contacto__f form button {
    background-color: rgb(5, 92, 20);
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.contacto__i {
    background-color: rgb(12, 12, 54);
    text-align: left;
    list-style: none;
}
.contacto__i h3,
.contacto__i ul,
.contacto__i img {
    padding: 2rem;
    margin: 1rem;
    color: rgb(214, 187, 112);
}
.contacto__i h3 {

    text-transform: uppercase;
    text-align: center;
}
.contacto__i ul {
    list-style: none;
    padding: 0;
}
.contacto__i ul li {
    padding: 0.5em;
    text-align: left;
}
.contacto__i img {
    margin-left: 20px;
    width: 300px;
    height: 250px;
}


/*seccion nosotros*/
.nosotros1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nosotros {
    text-align: center;
}

.Nosotros__sec--h2 {
    color: rgb(13, 25, 41);
    font-size: 45px;
    text-transform: uppercase;
}

.Nosotros__sec--h2b {
    color: rgb(13, 25, 41);
    font-size: 35px;
    text-transform: uppercase;
}

.Nosotros__sec--p {
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

.foter {
    background-color: rgb(13, 25, 41);
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    
    
    

}
.foter__inf {
    background-color: black;
    color: rgb(199, 12, 115);
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
.piepagina__titulo--inf {
    font-size: medium;
    font-weight: bold;
}
.piepagina {
    text-align: center;
}

.piepagina__imagen {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 1023px) {
    .section1 {
        display: block;
        text-align: center;
        padding: 0;
        
        
    }
    
    .section1__h1 {
        justify-content: center;

    }
    .section1__vi {
        max-width: 1000px;
        width: 100%;
        max-height: 500px;

    }

    /* contacto */
    
    .titulo {
        font-size: 28px;
    }
    .contacto {
        max-width: 790px;
     }

    .contacto__f form {
        display: flex;
        flex-direction: column;
    }
    
    .contacto__i {
        width: 250px;
        padding-top: 70px;
        padding-left: 15px;
    }
    
    .contacto__i h3 {
        padding: 0;
        margin: 0;
        text-align: left;
        
    }
    .contacto__i img {
        margin-left: -30px;
    }

    /*nosotros*/
    .Nosotros__sec--h2 {
        font-size: 30px;
    }
    .Nosotros__sec--h2b {
        font-size: 25px;
    }
    
    .nosotros__map {
        width: 300px;
        margin: 5px;
    }

    .piepagina__titulo {
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .piepagina__imagen {
        height: 40px;
        width: 40px;
    }

}

@media screen and (max-width: 599px) {

    .icono {
        display: block;
        color: rgb(214, 187, 112);

    }
    .nav {
        display: none;
    }
    .nav:target {
        display: block;
        background-color: rgb(214, 187, 112);
        position: fixed;
        top: 110px;
        right: 0;
        z-index: 1000000;
        width: 40%;
        height: 40vh;
        
    }
    .icono__1 {
        display: block;
        padding-left:100px ;
        
    }
    li a {
        color: rgb(13, 25, 41);
    }
    .nav__ul {
        flex-direction: column;
        align-items: flex-end;
        padding-right: 15px;
        justify-content: center;
        height: 100%;
        gap: 1rem;
        
    }
    /*bootstrap*/ 
    .col {
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;

    }
    .carousel-inner img {
        height: 400px;
    
    }
    .section1 {
        justify-content: center;
        padding: 0;
        
        
    }
    .section1__h1 {
        justify-content: center;

    }
    .section1__vi {
        width: 100%;
        

    }
    .section2 {
        justify-content: center; 
        width: 90%;

    }
    .section2__li {
        width: 300px;
        
    }
    .section2__li--2 {
        width: 300px;
        
        
    }
    .section2__li--img {
        border-radius: 10px;
        width: 214px;
        height: 200px;
    }
    /* Seccion contacto*/
    .titulo {
        font-size: 18px;
    }
    .contacto {
        padding: 0.5rem;
    }
    .formulario {
        grid-template-columns: none;
        
    }
    .formulario > * {
        padding: 1em;
    
    }
    .contacto__i,
    .contacto__f {
        min-width: 240px;
        padding-top: 0;
    }
    .contacto__i {
        width: auto;
        text-align: center;
    }
    .contacto__i h3,
    .contacto__i ul,
    .contacto__i img {
        padding: 1rem;
        margin: 0.5rem;
        text-align: center;
        margin-left: 0;
    }
    
    /*seccion Nosotros*/
    .nosotros1 {
        display: block;
    }
    .nosotros__img {
        width: 250px;
        height: 250px;
    }
    .Nosotros__sec--p {
        font-size: small;
    }
    .nosotros__map {
        width: auto;
        height: 250px;
    }

    .foter {
        display: grid;
        grid-template-columns: 150px 150px;
        max-width: auto;
    }
    .foter__inf {
        display: grid;
        grid-template-columns: 180px 180px;
        max-width: auto;
    }
    .piepagina {
        margin: 4px;
    }
    .piepagina__imagen {
        height: 30px;
        width: 30px;
    }
    .piepagina__titulo {
        font-size: small;
        
    }
    
}