.foter {
    background-color: rgb(13, 25, 41);
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    
    
    

}
.piepagina {
    text-align: center;
}

.piepagina__imagen {
    height: 50px;
    width: 50px;
}