.header {
    background-color: $colorPrincipal;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;


    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
        
}
.icono {
    width: 50px;
    height: 50px;
    background-color: $colorPrincipal;
    color: white;
    font-size: 35px;
    border: $colorPrincipal solid;
    display: none;
}
.icono__1 {
    display: none;
}
.logo {
    width: 100px;
    height: 80px;
}
.nav__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: auto;
    

    
}
.nav__ul--item {
    margin-left: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;

}
/* tube que colocar una clase aparte porque en mi header no me agarraba la propiedad para darle el color blanco a las lestras del menu ni me sacaba la decoracion*/
li a {
    color: white;
    text-decoration: none;
}
